<div id="box">
    <div class="container">
        <h2 *ngIf="!isSticky">Create a new post</h2>
        <h2 *ngIf="isSticky">Create a new Readers' Club post</h2>

        <div *ngIf="res && res.success" class="alert-success">
            Post successfully added.
        </div>
        <div *ngIf="error; else elseBlock" class="alert-danger">
            Fields cannot be empty.
        </div>
        <ng-template #elseBlock>
            <div *ngIf="res && !res.success" class="alert-danger">
                {{res.message}}
            </div>
        </ng-template>

        <form (ngSubmit)="onSubmit(postForm)" #postForm="ngForm">
            <div class="form-group">
                <label for="title">Post title</label>
                <input type="text" class="form-control" ngModel name="title" placeholder="Enter a post title" required>
            </div>
            <div class="form-group">
                <div class="editor">
                    <textarea placeholder="Insert content here..." required></textarea>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>