<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" routerLink="/">bookshed</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-left mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/createBook">New book</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
            </ul>
            <!-- <div *ngIf="res && res.success; else user"> -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>
            </ul>
            <!-- </div> -->
            <ng-template #user>

            </ng-template>
        </div>
    </div>
</nav>