.alert-danger {
    background-color: #6b2b27;
    color: white;
    padding: 0.2%;
    padding-left: 0.5%;
    margin-bottom: 2%;
    margin-top: 2%;
}

h2 {
    margin-top: 2%;
    padding-bottom: 2%;
}

input, textarea {
    background-color: #0c0d0f;
    color: white;
}

textearea {
    resize: none;
}

input:focus, textarea:focus {
    background-color: #1c2026;
    color: white;
}

.form-group {
    padding: 1%;
}

label {
    padding-bottom: 0.6%;
}

button {
    margin: 1%;
}

#box {
    background-color: #16181c;
    padding: 5%;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}