<div class="top">
    <h3>Interasting facts and news</h3>

    <span>
        <button
            *ngIf="isAdmin && !isFactEditorOpen"
            (click)="toggleEditor()"
            class="btn btn-warning"
        >
            Edit
        </button>

        <button
            (click)="submitFact()"
            class="btn btn-warning"
            *ngIf="isAdmin && isFactEditorOpen"
        >
            Save
        </button>

        <button
            (click)="toggleEditor()"
            class="btn btn-secondary"
            *ngIf="isAdmin && isFactEditorOpen"
        >
            Cancel
        </button>
    </span>
</div>

<div *ngIf="message != ''" class="alert-danger">
    {{message}}
</div>

<form
    #postForm="ngForm"
    *ngIf="isFactEditorOpen && isAdmin"
>
    <div class="editor">
        <textarea
            placeholder="Insert content here..."
            name="content"
            [(ngModel)]="content"
            required>{{fact?.content}}</textarea>
    </div>

    <br/>


</form>

<div 
    class="fact"
    *ngIf="!isFactEditorOpen"
>
    <div class="fact-content">
        {{content}}
    </div>

</div>

