<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd"
             version="3.0">
    <persistence-unit name="default">

        <class>rs.myst.bookshed.model.User</class>
        <class>rs.myst.bookshed.model.BookCategory</class>
        <class>rs.myst.bookshed.model.Book</class>
        <class>rs.myst.bookshed.model.Review</class>
        <class>rs.myst.bookshed.model.Post</class>
        <class>rs.myst.bookshed.model.PostReply</class>
        <class>rs.myst.bookshed.model.SellInfo</class>
    </persistence-unit>
    <persistence-unit name="persistenceUnit"/>
</persistence>
