<div class="info">
  <div class="top">
    <img src="{{ imageUrl }}" alt="Image of {{ book?.title }}">

    <div class="meta">
      <div class="title">
        <h2>{{ book?.title }}</h2>

        <div class="right" [hidden]="!isLoggedIn">
          <button (click)="navigateToEdit()" class="btn btn-warning">Edit</button>
          <button [hidden]="!isAdmin" (click)="confirmDelete()" class="btn btn-danger">Delete</button>
        </div>
      </div>

      <h3>by {{ book?.author }}</h3>

      <p class="category">Category: {{ book?.category?.name }}</p>

      <p class="description">
        {{ book?.description }}
      </p>
    </div>
  </div>

  <div class="sell-infos">
    <h4>Places where you can buy this book:</h4>

    <p *ngIf="sellInfos.length === 0">No one submitted purchase locations for this book. Submit one yourself with the button below.</p>

    <p *ngFor="let info of sellInfos">At: <b>{{ info.location }}</b>, For: <b>{{ info.price }}</b></p>

    <button class="btn btn-primary">Submit a new location</button>
  </div>
</div>
