.info {
  background-color: #16181c;
  max-width: 90%;
  width: 1250px;
  margin: 2rem auto;
  padding: 60px;
}

.top {
  display: flex;
  flex-direction: row;

  img {
    max-width: 250px;
    display: block;
    margin-right: 2rem;
  }

  h2 {
    margin-bottom: 0;
  }

  .description {
    margin-top: 2rem;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .btn-warning {
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 720px) {
  .top {
    flex-direction: column;

    img {
      margin-bottom: 2rem;
    }
  }
}
