<div class="info">
  <div class="top">
    <img src="{{ imageUrl }}" alt="Image of {{ book?.title }}" />

    <div class="meta">
      <div class="title">
        <h2>{{ book?.title }}</h2>

        <div class="info-right">
          <div class="buttons" [hidden]="!isLoggedIn">
            <button
              *ngIf="isAdmin"
              (click)="confirmDeleteBook()"
              class="btn btn-danger"
            >
              Delete
            </button>
            <a routerLink="/editBook" class="btn btn-warning">
              Edit
            </a>
          </div>
        </div>
      </div>

      <h3>by {{ book?.author }}</h3>

      <p class="category">Category: {{ book?.category?.name }}</p>

      <p class="avg-rating">Average rating:</p>
      <rating
        style="color: #0275d8;font-size: 40px;"
        [(ngModel)]="avgRating"
        [max]="maxRating"
        [readonly]="true"
      >
      </rating>

      <p class="description">
        {{ book?.description }}
      </p>
    </div>
  </div>

  <hr />

  <div class="sell-infos">
    <h4>Places where you can buy this book:</h4>

    <p *ngIf="sellInfos.length === 0 && isLoggedIn">
      No one submitted purchase locations for this book. Submit one yourself
      with the button below.
    </p>
    <p *ngIf="sellInfos.length === 0 && !isLoggedIn">
      No one submitted purchase locations for this book. Submit one yourself by
      creating a new account.
    </p>

    <p *ngFor="let info of sellInfos">
      At: <b>{{ info.location }}</b>, For: <b>{{ info.price }}</b>
    </p>

    <button
      class="btn btn-primary"
      *ngIf="isLoggedIn"
      (click)="toggleSellInfoSubmit()"
    >
      Submit a new location
    </button>

    <div class="submit-sell-info" *ngIf="isSubmittingSellInfo">
      <form>
        <div class="form-group">
          <label for="location">Location</label>
          <input
            type="text"
            name="location"
            id="location"
            class="form-control"
            placeholder="Book Purchase Location"
            [(ngModel)]="location"
          />
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            min="1"
            step="any"
            name="price"
            id="price"
            class="form-control"
            value="01.00"
            [(ngModel)]="price"
          />
        </div>

        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary"
            (click)="submitSellInfo()"
          >
            Submit
          </button>
          <button class="btn btn-secondary" (click)="toggleSellInfoSubmit()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>

  <hr />

  <div *ngIf="isLoggedIn">
    <h3 *ngIf="rating">Your rating of {{book?.title}}</h3>
    <h3 *ngIf="!rating">Rate {{book?.title}}</h3>

    <rating
      style="color: #0275d8;font-size: 40px;"
      [(ngModel)]="ratingValue"
      [max]="maxRating" 
      [readonly]="ratingIsReadonly"
    >
    </rating>
    
    <br />

    <button
      *ngIf="!rating || rating.rating != ratingValue"  
      (click)="submitRating()"
      class="btn btn-primary"
    >Submit</button>

    <hr />
  </div>

  <h4>User Reviews</h4>

  <ng-template
    [ngIf]="isLoggedIn"
    [ngIfElse]="notLoggedIn"
    class="review-submit-form"
  >
    <button
      class="btn btn-primary review-form-toggle-button"
      *ngIf="isLoggedIn && !isWritingAReview"
      (click)="toggleIsWritingAReview()"
    >
      Write your own review
    </button>

    <div 
      *ngIf="reviewRes && !reviewRes.success"
      class="alert-fail"
    >
      {{ reviewRes.message }}
    </div> 

    <form *ngIf="isWritingAReview" class="review-form">
      <textarea
        [(ngModel)]="reviewContent"
        name="content"
        placeholder="Write your own review"
        id="review-textarea"
        class="review-textarea"
      ></textarea>

      <button 
        type="submit"
        class="btn btn-primary"
        (click)="submitReview()"
      >
        Post
      </button>

      <button class="btn btn-secondary" (click)="toggleIsWritingAReview()">
        Cancel
      </button>
    </form>
  </ng-template>

  <ng-template #notLoggedIn>
    <a routerLink="/login">Log in</a> to rate and post your review of {{ book?.title }}
  </ng-template>

  <br />

  <div class="reviews">
    <div
      *ngFor="let review of reviews"
      class="review"
      id="review{{ review.id }}"
    >
      <div class="review-info">
        <span class="review-author">
          {{ review.author.username }}
        </span>

        <span class="review-time">
          {{ formatDate(review.createdAt) }}
          <span *ngIf="review.lastEdit">
            , edited at: {{ formatDate(review.lastEdit) }}
          </span>
        </span>
        
        <span class="review-right-side">
          <button
            *ngIf="isLoggedUserReviewAuthor(review)"
            class="edit-review-button"
            (click)="toggleEditReviewForm(review)"
          >
            Edit
          </button>

          <button 
            *ngIf="isAdmin || isLoggedUserReviewAuthor(review)"
            (click)="confirmDeleteReview(review)"
          >
            Delete
          </button>

          <span> #{{ review.id }} </span>
        </span>
      </div>

      <div class="review-content" id="review-content-{{review.id}}">
        {{ review.content }}
      </div>

      <div 
        class="review-edit-form"
        id="review-edit-form-{{review.id}}"
        *ngIf="isLoggedUserReviewAuthor(review)" 
      >
        <form action="">
          <textarea
            [(ngModel)]="reviewEditContent"
            name="reviewContent"
            id="review-edit-textarea"
            class="review-edit-textarea"
          ></textarea>

          <button 
            type="submit"
            class="btn btn-warning"
            (click)="editReview(review)"
          >
            Save
          </button>

          <button class="btn btn-secondary" (click)="toggleEditReviewForm(review)">
            Cancel
          </button>

        </form>

      </div>
      <hr />
    </div>
  </div>
</div>
