.new-post {
    margin-bottom: 2rem;
}

.post {
    color: white;
    text-decoration: none;
    background-color: var(--bs-gray-900);
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;

    &:hover {
        background-color: var(--bs-gray-800) !important;
    }

    &:last-child {
        margin-bottom: 0;
    }

    p {
        margin: 0;
    }
}

.post.sticky {
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #0275d8;
}


a {
    margin-right: 1rem;
}