<div class="book-list">
    <div *ngFor="let book of books" class="book-container">
        <span class="book-image-container">
            <img src='{{ book.imageUrl !== "" ? book.imageUrl : "assets/no-image.jpg"}}' class="" alt="img">
        </span>
        <span class="book-text-container">
                <small><a href="#">{{book.category.name}}</a></small>
                <br>
                <h6><a routerLink="{{'/book/' + book.id}}">{{book.title}}</a></h6>
                    {{ truncateString(book.description, 150) }}
                <br>
        </span>
    </div>
</div>