.container {
    margin: 0;
}

.book-container {
    height: 200px;
    padding: 10px;
    background-color: #16181c;
    display: flex;
    border-top: 1px solid gainsboro;
}

.book-text-container {
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-wrap: break-word
}

.book-image-container {
    margin-right: 10px;
    width: 200px;
    padding: 10px;
}

.book-image-container img {
    max-width: 100%;
    min-height: 100%;
    height: 150px;
    border-radius: 2px;
    border: 1px solid rgb(150,150,150);
}
