body {
    background-color: #202024;
    color: white;  
    min-height: 100vh;
    display:flex; 
    flex-direction:column; 
    justify-content:space-between;
}

.navbar {
    background-color: #1a1a1f;
}
