<div id="box">
  <div class="container">
    <h2>Edit {{post?.title}}</h2>

    <div *ngIf="res && !res.success" class="alert-danger">
      Could not edit the post. {{res.message}}
    </div>

    <form (ngSubmit)="edit()" #postForm="ngForm">
      <div class="form-group">
        <label for="title">Post title</label>
        <input
          type="text"
          class="form-control" 
          [(ngModel)]="postEditedTitle"
          name="title"
          required
        >
      </div>

      <div class="form-group">
        <div class="editor">
          <textarea
            placeholder="Insert content here..."
            name="content"
            required>{{post?.content}}</textarea>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-warning">
        Edit
      </button>
    </form>
  </div>
</div>