<div id="box">
    <div class="container py-5">
        <div class="row" id="center">
            <div class="col-md-2 text-center">
                <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code: 403</p>
            </div>
            <div class="col-md-10">
                <h1>Forbidden</h1>
                <p>Your access is refused due to security reasons of our server.<br />Please go back to the main
                    page to continue browsing.</p>
                <a class="btn btn-danger" routerLink="/">Go Back</a>
            </div>
        </div>
    </div>
</div>