<div id="box">
    <div class="top" *ngIf="post; else elseBlock">
        <h1>{{ post.title }}</h1>

        <div class="post">
            <div class="author-top">
                <div class="author">
                    <div><span class="admin" *ngIf="post.author.role === 'ADMIN'">[A] </span>{{ post.author.username }}</div>

                    <div class="date">{{ formatDate(post.createdAt) }}</div>
                </div>

                <div class="author-actions">
                    <a
                        *ngIf="isAuthor"
                        routerLink="/forum/{{post.id}}/edit"
                        class="btn btn-warning"
                    >
                        Edit
                    </a>

                    <button
                        *ngIf="isAdmin || isAuthor"
                        class="btn btn-danger"
                        (click)="confirmDeletePost()"
                    >
                        Delete
                    </button>
                </div>
            </div>

            <div class="content md" [innerHtml]="post?.content | markdown"></div>
        </div>

        <div class="post" *ngFor="let reply of replies">
            <div class="author-top">
                <div class="author">
                    <div><span class="admin" *ngIf="reply.author.role === 'ADMIN'">[A] </span>{{ reply.author.username }}</div>
                    <div class="date">{{ formatDate(reply.createdAt) }}</div>
                </div>
                <div class="reply-right-side">
                    <button
                        *ngIf="isAdmin || isLoggedUserReviewAuthor(reply)"
                        class="btn btn-danger"
                        (click)="confirmDeleteReply(reply)"
                    >
                        Delete
                    </button>
                </div>
            </div>

            <div class="content md" [innerHtml]="reply?.content | markdown"></div>
        </div>

        <div *ngIf="loggedUser !== undefined" class="reply">
            <h3>Reply:</h3>

            <form (ngSubmit)="onPostReply()" #postForm="ngForm">
                <div class="form-group">
                    <div class="editor">
                        <textarea placeholder="Insert content here..." required></textarea>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Reply</button>
            </form>
        </div>
    </div>
    <ng-template #elseBlock>
        <h1>Post doesn't exist.</h1>
    </ng-template>
</div>