<div id="box">
    <div class="container">
        <h2>Add a new book</h2>

        <div *ngIf="res && res.success" class="alert-success">
            Book successfully added.
        </div>
        <div *ngIf="error; else elseBlock" class="alert-danger">
            Fields cannot be empty.
        </div>
        <ng-template #elseBlock>
            <div *ngIf="res && !res.success" class="alert-danger">
                {{res.message}}
            </div>
        </ng-template>

        <form (ngSubmit)="onSubmit(bookForm)" #bookForm="ngForm">
            <div class="form-group">
                <label for="title">Book title</label>
                <input type="text" class="form-control" ngModel name="title"
                    placeholder="Enter a book title" required>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" ngModel name="author"
                    placeholder="Enter author's name" required>
            </div>
            <div class="form-group">
                <label for="category">Category</label><br>
                <select [(ngModel)]="categoryId" name="category" class="selectpicker">
                    <option *ngFor="let cat of categories" [ngValue]="cat.id">{{cat.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label><br>
                <textarea class="form-control" ngModel name="description"
                    placeholder="Enter a description" rows="5" cols="20" required></textarea>
            </div>
            <div class="form-group">
                <label for="formFileLg" class="form-label">Book image</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file"
                    (change)="onFileChanged($event)" />
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
